**/.terraform.*
**/.terraform/**
**/__azurite*.json
**/.debug.sh
**/.debug.tfvars
**/gcp-key.json
**/.env
**/bin
**/Debug
**/Release
**/obj
**/.DS_Store
**/kube_config.yaml
**/.suo
**/.vs/*
**/__azurite_*
.vscode/settings.json

**/.debug.sh
**/.debug.tfvars
**/.terraform.*
**/.terraform/**
**/__azurite*.json